//@import 'colors';
@import 'redactor-tailwind';
@import 'redactor';

// Main brand color
$brand-color: #9B2C2C;

// Automatically generate a CP theme
$theme-1: darken($brand-color, 13%);
$theme-2: darken($brand-color, 8%);
$theme-3: $brand-color;
$theme-4: lighten($brand-color, 7%);
$theme-5: lighten($brand-color, 63%);

// Login page
body.login {
  background: $theme-3;
}
#login-form h1 {
  //background: url('/resources/images/logo-che-white.png') 0 0 / 100% auto no-repeat;
  //text-indent: -9999px;
  width: 100%;
  height: 70px;
  display: block;
}
#password-fields,
#forgot-password {
  color: $theme-5 !important;
}

// Sidebar
#global-sidebar {
  background: $theme-3;
  a {
    color: $theme-5;
  }
  > a,
  :not(.has-subnav) > a {
    &:hover,
    &.active,
    &:active {
      color: $theme-4;
      background-color: $theme-2 !important;
    }
  }
  :not(.has-subnav) > a.sel {
    background-color: $theme-1 !important;
  }

  #system-info {
    background: $theme-3;
    //background-image: url('/resources/images/logo-che-white.png') !important;
    background-position: center center !important;
    background-size: 190px auto !important;
    background-repeat: no-repeat;
    height: 35px;
    //text-indent: -9999px;
    &:focus,
    &:hover {
      background-color: $theme-2 !important;
    }
    #site-icon,
    #system-name {
      //display: none;
      h2:after {
        background-image: none;
      }
    }
  }
}

// Hide the "Updates Available" badge
li#nav-utilities a .badge {
  display: none;
}

// Buttons
.btn.submit {
  // Default color
  color: $theme-5 !important;
  background-color: $theme-3 !important;
  &:not(.disabled):not(.inactive) {
    // Hover color
    &:hover,
    &.hover {
      background-color: $theme-2 !important;
    }
    // Active color
    &:active,
    &.active {
      background-color: $theme-1 !important;
    }
  }
}
