//@import 'colors';
@import 'redactor-tailwind';
@import 'redactor';

$color-1: #742A2A;
$color-2: #9B2C2C;
$color-3: #C53030; // <-- Main brand color
$color-4: #E53E3E;
$color-5: #FFF5F5;

//$color-1: #22543D;
//$color-2: #276749;
//$color-3: #2F855A; // <-- Main brand color
//$color-4: #38A169;
//$color-5: #F0FFF4;

// Login page
body.login {
  background: $color-3;
}
#login-form h1 {
  //background: url('/resources/images/logo-che-white.png') 0 0 / 100% auto no-repeat;
  //text-indent: -9999px;
  width: 100%;
  height: 70px;
  display: block;
}
#password-fields,
#forgot-password {
  color: $color-5 !important;
}

// Sidebar
#global-sidebar {
  background: $color-3;
  a {
    color: $color-5;
  }
  > a,
  :not(.has-subnav) > a {
    &:hover,
    &.active,
    &:active {
      color: $color-4;
      background-color: $color-2 !important;
    }
  }
  :not(.has-subnav) > a.sel {
    background-color: $color-1 !important;
  }

  #system-info {
    background: $color-3;
    //background-image: url('/resources/images/logo-che-white.png') !important;
    background-position: center center !important;
    background-size: 190px auto !important;
    background-repeat: no-repeat;
    height: 35px;
    //text-indent: -9999px;
    &:focus,
    &:hover {
      background-color: $color-2 !important;
    }
    #site-icon,
    #system-name {
      display: none;
    }
  }
}

// Hide the "Updates Available" badge
li#nav-utilities a .badge {
  display: none;
}

// Buttons
.btn.submit {
  // Default color
  color: $color-5 !important;
  background-color: $color-3 !important;
  &:not(.disabled):not(.inactive) {
    // Hover color
    &:hover,
    &.hover {
      background-color: $color-2 !important;
    }
    // Active color
    &:active,
    &.active {
      background-color: $color-1 !important;
    }
  }
}
