@import 'colors';
//@import 'redactor';

/* Hide the "Updates Available" badge */
li#nav-utilities a .badge {
  display: none;
}

/* Sidebar background color */
#global-sidebar {
  background: $color-of-header;
}

/* Header background color */
#main-container #main #header {
  background: $color-of-page-bg;
}

/* H1 tags */
h1 {
  color: $color-of-h1-tags;
}

/* Standard button color */
.btn.submit {
  background: $color-of-buttons;
}
/* Hover button color */
.btn.submit:not(.disabled):not(.inactive):hover,
.btn.submit:not(.disabled):not(.inactive).hover {
  background: darken($color-of-buttons, 10%);
}
/* Active button color */
.btn.submit:not(.disabled):not(.inactive):active,
.btn.submit:not(.disabled):not(.inactive).active {
  background: darken($color-of-buttons, 20%);
}
