//@import 'colors';
@import 'redactor-tailwind';
@import 'redactor';

// Main brand color
$brand-color: #AD1111;

// Automatically generate a CP theme
$theme-1: lighten($brand-color, 63%);
$theme-2: lighten($brand-color, 7%);
$theme-3: $brand-color;
$theme-4: darken($brand-color, 8%);
$theme-5: darken($brand-color, 13%);

// Login page
body.login {
  background: $theme-3;
}
#login-form {
  h1 {
    color: $theme-1 !important;
    //background: url('/resources/images/logo-che-white.png') 0 0 / 100% auto no-repeat;
    //text-indent: -9999px;
    width: 100%;
    height: 70px;
    display: block;
  }
  .btn.submit {
    color: $theme-1 !important;
    background-color: $theme-4 !important;
    &:not(.disabled):not(.inactive) {
      &:hover,  &.hover  {background-color: $theme-5 !important;}
      &:active, &.active {background-color: $theme-2 !important;}
    }
  }
}
#password-fields,
#forgot-password {
  color: $theme-1 !important;
}

// Sidebar
#global-sidebar {
  background: $theme-3;
  a {
    color: $theme-1;
  }
  > a,
  :not(.has-subnav) > a {
    &:hover,
    &.active,
    &:active {
      color: $theme-2;
      background-color: $theme-4 !important;
    }
  }
  :not(.has-subnav) > a.sel {
    background-color: $theme-5 !important;
  }

  #system-info {
    background: $theme-3;
    //background-image: url('/resources/images/logo-che-white.png') !important;
    background-position: center center !important;
    background-size: 190px auto !important;
    background-repeat: no-repeat;
    height: 35px;
    //text-indent: -9999px;
    &:focus,
    &:hover {
      background-color: $theme-4 !important;
    }
    #site-icon,
    #system-name {
      //display: none;
      h2:after {
        background-image: none;
      }
    }
  }
}

// Hide the "Updates Available" badge
li#nav-utilities a .badge {
  display: none;
}

// Buttons
.btn.submit {
  color: $theme-1 !important;
  background-color: $theme-3 !important;
  &:not(.disabled):not(.inactive) {
    &:hover,  &.hover  {background-color: $theme-4 !important;}
    &:active, &.active {background-color: $theme-5 !important;}
  }
}
