h1 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}
h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

p {
  margin-top: 0.8rem;
}
