{% set image = true %}
{#{% set image = panel.image.one() %}#}
{% if image %}
    <div class="panel-image pt-5 pb-4">
{#        {{ image.url }}#}
        <img src="http://placekitten.com/820/340" alt="" class="mx-auto shadow-lg border border-gray-600">
    </div>
{% endif %}
