{% extends '_layout' %}
{% set title = 'Welcome' %}

{% block content %}
{#    <h1 class="font-bold text-3xl">Home</h1>#}
{#    <div>Panel of three column CTAs</div>#}
{#    <div>Panel of video embed</div>#}
{#    <div>Panel of two column text</div>#}

    {% include '_panels' with {'matrix': entry.panels} only %}
{% endblock %}
