{% extends '_layout' %}

{% block content %}

    <script>
        var data = {
            entries: [
                {
                    id: 42,
                    title: 'Red',
                    url: '#red',
                    description: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac porttitor ex. In vitae nisi vitae augue accumsan pharetra ac sed nisi. Nullam scelerisque, libero nec egestas iaculis, lectus justo placerat lorem, et laoreet ante lectus at ipsum. Aenean commodo placerat tortor vitae ornare.</p>',
                },
                {
                    id: 33,
                    title: 'Blue',
                    url: '#blue',
                    description: '<p>Ut hendrerit turpis cursus sem varius, vitae cursus ante suscipit. In nec condimentum tellus, vel congue leo. Pellentesque diam orci, venenatis eu velit commodo, gravida aliquet odio. Proin ac elit in mi vestibulum molestie. Fusce vitae nisl at est iaculis finibus sit amet et diam.</p>',
                },
                {
                    id: 10,
                    title: 'Green',
                    url: '#green',
                    description: '<p>Integer non elementum quam, in ultrices magna. Duis orci arcu, venenatis id pulvinar sit amet, mollis at eros. Integer lorem ligula, lacinia ac suscipit ac, vestibulum blandit mauris. Mauris accumsan, ligula id dictum facilisis, felis erat interdum mi, in tempus urna lorem id tortor. Aliquam erat volutpat.</p>',
                },
                {
                    id: 15,
                    title: 'Orange',
                    url: '#orange',
                    description: '<p>Donec nec vehicula risus, id fermentum nisi. Praesent non mollis enim. Cras ultrices velit sem, ut euismod orci suscipit et. Suspendisse id lacus hendrerit, dictum ante a, bibendum elit. Ut semper libero enim. Nunc nec quam vel quam ultricies ultrices. Donec hendrerit vel elit ut feugiat.</p>',
                },
            ]
        };
    </script>

    <div class="bg-orange-100 max-w-screen-lg mx-auto py-4">

        <h1 class="font-bold text-3xl">List of Entries</h1>

        <div x-data="data">
            <template x-for="entry in entries" :key="entry">
                <div class="mx-4 my-3 p-6 bg-white rounded-md shadow">
                    <h3 x-text="entry.title" @click="alert(entry.url)" class="cursor-pointer underline mb-1"></h3>
                    <div x-html="entry.description"></div>
                </div>
            </template>
        </div>

    </div>

{% endblock %}
