<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Prototype</title>
{#<title>{{ (title ? "#{title} | ") ~ systemName }}</title>#}
{#{% include '_includes/favicon-set' %}#}
{#{% include '_includes/app-variables' %}#}
{% do view.registerAssetBundle(LayoutAssets) %}
</head>

<body>
    {% include '_layout/header' %}
    {% block content null %}
    {% include '_layout/footer' %}
</body>
</html>
