{% extends '_layout' %}

{% block content %}
    <div class="bg-orange-100 max-w-screen-lg mx-auto py-4">
        <h1>Home</h1>
        <div>Panel of three column CTAs</div>
        <div>Panel of video embed</div>
        <div>Panel of two column text</div>
    </div>
{% endblock %}
