{% extends '_layout' %}
{% set title = entry.title %}

{% block content %}
    <div class="bg-orange-100 max-w-screen-lg mx-auto py-4">
        <h1>{{ entry.title }}</h1>
        {% include '_panels' with {'matrix': entry.panels} only %}
    </div>
{% endblock %}
