{% extends '_layout' %}
{% set title = entry.title %}

{% block content %}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <h1>Page type template doesn't exist</h1>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-sm-12">#}
{#            <div class="main-content">#}
{#                <h2>Sorry, the "{{ entry.type }}" entry type template could not be found.</h2>#}
{#                <p>It's a developer thing. Call the web guys.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
