{% set custom = panel.panel.one() %}
{% if custom %}
    <div class="panel-custom px-5">
        {% include ["_panels/custom/#{custom.type.handle}",'_panels/custom/fallback'] with {'custom': custom} only %}
    </div>
{% endif %}
